bin/
obj/
*.pdb
*.exe
*.dll
*.app/
*.xlog

.idea/
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.avalonia/

*.nupkg
*.snupkg
packages/
.nuget/
project.lock.json

Thumbs.db
.DS_Store
desktop.ini

.fake